/* Front page special formatting */

ul#social {
    list-style: none;
}

#social li {
	margin-bottom: 10px;
}

#social img {
	width: 64px;
	vertical-align: middle;
}


#social a {
	text-decoration: none;
}

.install img {
    width: 250px;
    vertical-align: middle;
	margin-bottom: 20px;
}

