/**
 * Wordpres theming layer on the top of standard jQuery Mobile
 */

/* Fix required field asterisk to be on the same line as the field */
#respond label {
	display: inline-block;	
}

/* Make labels more readable */

#respond label {
	color: black;
	font-size: 120%;
}

#commentform .required {
	color: red;
}

/* Make footer to look little bit more sane */
.ui-footer {
	padding: 10px 0;
	text-align: center;
	font-weight: lighter;
}

/* Bottom nav */

.mobile-next-prev {
    text-align: center;	
}

/* Make sure bulleted link lists have enough space */

.content ul li {
    line-height: 2em;	
}

/* Don't make anchor headings look stupid with jQ mobile */

.content h1 a.ui-link,
.content h2 a.ui-link,
.content h3 a.ui-link {
	  text-decoration: none;
	  color: black;
}

/* Try be smart with fixed with code examples */

.content pre {
}

.content .pre-scroll-wrapper {
	background: #eee;	
	color: black;
	bordeR: 1px inset #888;
	padding: 5px;
	margin: 0px;
	overflow: visible;
	
}

.content .pre-scroll-wrapper pre {
	overflow: visible;
	margin: 0;
	padding: 5px;
}

/* Scroll hinter arrows */
.scroll-arrow {
	color: white;
	font-weight: bold;
	width: 30px;
	height: 40px;
	text-align: center;
	text-shadow: 0 0 5px black;
	font-size: 26px;
	opacity: 0.8;
}

 