/**
 * Wordpres theming layer on the top of standard jQuery Mobile
 */

/* Tune down aggressive h1 size */
h1 {
   
}

/* Make blog roll list long headings to be wrapper */
.blogroll h3 {
	white-space: normal;
}

/* Do not let first entry in page list eat bottom of blog roll item */
.ui-content .page-list {
	margin-top: 15px;
}

/* Hide author info by default */
#entry-author-info {
	display: none;
}

/* Make utilities (permalink, tags) take little less attentation by default */
.entry-utility,
.entry-meta {
	color: #666;
	font-size: 85%;
}

/* Fix required field asterisk to be on the same line as the field */
#respond label {
	display: inline-block;	
}

/* Make comment form labels more readable */

#respond label {
	color: black;
	font-size: 120%;
}

#commentform .required {
	color: red;
}

/* Make footer to look little bit more sane */
.ui-footer {
	padding: 10px 0;
	text-align: center;
	font-weight: lighter;
}
