/**
 * Wordpres theming layer on the top of standard jQuery Mobile
 */

/* Tune down aggressive h1 size */
h1 {
   
}

/* Make blog roll list long headings to be wrapper */
.blogroll h3 {
	white-space: normal;
}

/* Do not let first entry in page list eat bottom of blog roll item */
.ui-content .page-list {
	margin-top: 15px;
}

/* Hide author info by default */
#entry-author-info {
	display: none;
}

/* Make utilities (permalink, tags) take little less attentation by default */
.entry-utility,
.entry-meta {
	color: #666;
	font-size: 85%;
	line-height: 200%;
}

/* Comment list style fixes */

/* Go from edge to edge */
#comment-collapsible .ui-collapsible-content {
	padding: 5px 0;
}

/* Float image and date on the same row */
.commentlist li > div {	
	padding-top: 5px;
}

.commentlist .ui-li-desc {
	font-size: 14px;
	white-space: normal;
	margin: 0 0 1em 0;
}

.commentlist .timestamp {
	font-size: 12px;
	color: #aaa;
}

.commentlist li h3 {
}

.commentlist .ui-li-thumb {
	position: relative;
}

#respond {
	padding-top: 20px;
}

/* Fix required field asterisk to be on the same line as the field */
#respond label {
	display: inline-block;	
}

/* Make comment form labels more readable */

#respond label {
	color: black;
	font-size: 120%;
}

#commentform .required {
	color: red;
}

/* Make footer to look little bit more sane */
.ui-footer {
	padding: 10px 0;
	text-align: center;
	font-weight: lighter;
}

/* If the content itself has ul lists with links, make them little more touch friendly */

.entry-content li {
	line-height: 150%;
}

/* Code example scroll magic */
.entry-content pre {
}

.entry-content .pre-scroll-wrapper {
	background: #eee;	
	color: black;
	bordeR: 1px inset #888;
	padding: 5px;
	margin: 0px;
	overflow: visible;
	
}

.entry-content .pre-scroll-wrapper pre {
	overflow: visible;
	margin: 0;
	padding: 5px;
}
