/**
 * Example mobile styles applied on the top of jQuery Mobile.
 */

/* Make footer to look little bit more sane */

.ui-footer {
    padding: 10px 0;
    text-align: center;
    font-weight: lighter;
}
