<div id="mobile-head">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
    <link rel="stylesheet" href="../css/wordpress.css" />
	<script type="text/javascript" src="../js/jquery.mobile.js"></script>
</div> 

<div id="mobile-body"> 

	<!-- http://jquerymobile.com/demos/1.0a3/#docs/pages/docs-pages.html -->				
	<div data-role="page"> 
		<div data-role="header"></div> 
		<div data-role="content"></div> 
		<div data-role="footer"></div> 
	</div> 

</div>
